<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/budget.css}" />
    <script type="text/javascript" th:src="@{/static/budget.js}"></script>

    <title>Budget Calculator</title>
</head>
<body>
    <div class="container">
        <div id="box">
            <h1 class="table-header"> List of bills:</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th> Bill name</th>
                            <th> Bill amount</th>
                            <th> Bill due date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="bill : ${user.bills}">
                            <td th:text="${bill.name}"></td>
                            <td th:text="${bill.amount}"></td>
                            <td th:text="${bill.dueDate}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
</body>
</html>