<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/budget.css}" />
    <script type="text/javascript" th:src="@{/static/budget.js}"></script>

    <title>Budget Calculator</title>
</head>
<body>
    <div class="container">
        <div >
            <ul>
                <!-- Create a calculator with Amount remaining, add positive number, subtract negative number (bill) button -->
                <li>
                    <span> Total amount of bills owed: </span><span th:text="${user.getTotalBillsAmount()}"> </span>
                </li>
                <li>
                    <span>Total amount of income earned: </span><span th:text="${user.getTotalIncomeAmount()}"></span>
                </li>
                <li>
                     Total amount remaining:<span th:text="${user.getDifferenceBetweenIncomeAndBills()}"> </span>
                </li>
            

            </ul>
        </div>
    </div>

</body>
</html>