<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/budget.css}" />
    <script type="text/javascript" th:src="@{/static/budget.js}"></script>

    <title>Budget Calculator</title>
</head>
<body>

    {% comment %} thinking about using React for this but not sure how {% endcomment %}
    <div class="container">
        <div >
        </div>
    </div>

</body>
</html>