<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/budget.css}" />
    <script type="text/javascript" th:src="@{/static/budget.js}"></script>

    <title>Budget Calculator</title>
</head>
<body>
    <div class="container">
        <div id="box">
            <h1 class="table-header"> List of Income:</h1>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th> Income name</th>
                            <th> Income amount</th>
                            <th> Income date paid</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="income : ${user.incomes}">
                            <td th:text="${income.name}"></td>
                            <td th:text="${income.amount}"></td>
                            <td th:text="${income.datePaid}"></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <section>
                    Total worth of all income: <span th:text="${user.getTotalIncomeAmount()}"></span>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
